*, html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.halaman {
    display: flex;
    background-image: url('gambar/borobudur6.jpg');
}

.wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 15px;
    width: 2000px;
    height: 80px;
    background-color: black;
    text-transform: capitalize;
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 23px;
}

.firstname {
    color: white;
    font-weight: 700;
}

.lastname {
    color: crimson;
    font-weight: 400;
    padding-left: 4px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation > li {
    list-style-type: none;
    padding: 15px;
}

.navigation>li>a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.navigation >li > a:hover{
    color: crimson;
    transition: all .3s ease-in-out;
}

.active {
    background-color: crimson;
    color: white;
    padding: 15px;
    border-radius: 20px;
}

.aktip {
    background-color: lightslategray;
    color: white;
    padding: 15px;
    border-radius: 20px;
}
